{% extends "layout.jinja2" %}

{% block title %} home {% endblock title %}

{% block content %}
<br>
<div class="alert alert-primary" role="alert">
    Bienvenido <span class="alert-link">{{ user }}</span>
</div>

<div class="container">
  <br>

  <h2>Listado de Items</h2>

  <table id="Table" class="table table-dark table-hover">
    <thead>
      <tr>
        <th>NOMBRE ITEM</th>
        <th>PRECIO UNITARIO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>leche</td>
        <td>31.60</td>
        <td>
          <button onclick="getRow(this)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>arroz</td>
        <td>6.69</td>
        <td>
          <button onclick="getRow(this)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>azucar</td>
        <td>18.40</td>
        <td>
          <button onclick="getRow(this)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>cebolla</td>
        <td>12.99</td>
        <td>
          <button onclick="getRow(this)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>detergente</td>
        <td>11.89</td>
        <td>
          <button onclick="getRow(this)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-danger">
        Realmente desea eliminar el producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button onclick="deleteRow()" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<script>
var row;

function getRow(r) {
    row = r.parentNode.parentNode.rowIndex;
}

function deleteRow() {
  document.getElementById("Table").deleteRow(row);
}
</script>

{% endblock content %}
