{% extends "layout.jinja2" %}

{% block title %}Login - {% endblock title %}

{% block content %}

<div class="col-lg-3 col-12 mx-auto">
    <form action="{{ url }}">
        <fieldset>
            <h2 class="h3 mb-3 font-weight-normal text-center">Login</h2>
            <input type="hidden" name="next" value="{{ next_url }}">
            <div class="form-group">
                <input class="form-control" type="text" name="username" value="{{ username }}" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <span class="text text-warning">{{ message }}</span>
            </div>
            <button type="submit" name="form.submitted" value="Log In" class="btn btn-primary btn-block">Log In</button>
        </fieldset>
    </form>
</div>
{% endblock content %}